<br />
<form action="ValidLogin" method="post">
    <fieldset>
        <legend><b>Hello! Please Sign:</b></legend>
        <input type="email" name="Email" placeholder="Email" required class="form-control" /> <br />
        <input type="password" name="password" placeholder="Password" required class="form-control" /><br />
        <input type="submit" value="Login User" />
    </fieldset>
</form>